@model Do_An.Models.KhachHang
<link href="~/Content/NguoiDungCssLayout/DangKyCss.css" rel="stylesheet" />

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}


<div class="container">
    <div class="form-container">
        <h2>Đăng ký</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.TaiKhoan)
                @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "form-control" } })
                <span id="LoiHoTen"></span>
                @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MatKhau)
                @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                <span id="LoiMatKhau"></span>
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                <span id="LoiEmail"></span>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HoTen)
                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                <span id="LoiHoTen"></span>
                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.DiaChi)
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                <span id="LoiDiaChi"></span>
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DienThoai)
                @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                <span id="LoiDienThoai"></span>
                @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GioiTinh)
                @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
                <span id="LoiGioiTinh"></span>
                @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgaySinh)
                @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                <span id="LoiNgaySinh"></span>
                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Đăng ký" class="btn-submit" id="submitBtn" />
            </div>
        }

        <div class="back-link">
            @Html.ActionLink("Quay lại", "Index", "Home")
        </div>
    </div>
</div>